body{
      display: flex;
      min-height: 100vh;
      flex-direction: column;
}
main
{
    flex: 1 0 auto;
}

.logo {
  font-weight: 300;
  padding-left: 10px;
}

.placeholder01{
  padding-left:20px;
}

.slim-card-content{
  padding-bottom:10px;
  padding-top:15px;
}

.tabs .tab a.active, .tabs .tab a {
    color: #3f51b5;
    font-weight: 500;
}

.tabs .tab a:hover {
    color: #3f51b5;
    font-weight: 700;
}

.tabs .indicator{
  background-color: #3f51b5;

}

.res_snippet .card .card-image {
    height: 220px;
    overflow: hidden;
}

.res_snippet .card .card-content {
    height: 48px;
    overflow: hidden;
}

.res_snippet .card .card-image .card-title {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    padding: 12px 24px;
}

.ui-page {
    display: flex;
    flex-direction: column;
}

.ui-loader {
    display: none !important;
}
