<html>
  <head>
    <title>Urlaubstipps</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets\css\custom.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <!-- Navigation -->
    <nav>
      <div class="nav-wrapper indigo ">
        <a href="#!" class="brand-logo"><span class="logo">Urlaubstipps</span></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="large material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Home</a></li>
          <li><a href="badges.html">Über uns</a></li>
          <li><a href="collapsible.html">Profil</a></li>
          <li><a href="mobile.html">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Home</a></li>
          <li><a href="badges.html">Über uns</a></li>
          <li><a href="collapsible.html">Profil</a></li>
          <li><a href="mobile.html">Logout</a></li>
        </ul>
      </div>
    </nav>


    <!-- Content -->
    <main class="grey lighten-2">
      <div class="container" id="readIn" style="padding-top:40px;" ></div>
    </main>

  <!-- Footer -->
  <!--  <footer class="grey lighten-2 page-footer">
               <div class="container">
                <div class="row"style="border-top:2px;">
                  <div class="col l6 s12">
                    <h5 class="White-text">Motivation</h5>
                    <p class="white-text text-lighten-1">Spielerisch und in wenigen Schritten zu deinem Traumurlaub kommst. Mit jeder weiteren Planung lernen wir dazu um ihnen einen noch besseren Service zu bieten</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Partner</h5>
                    <ul>
                      <li><a class="white-text text-lighten-1" href="#!">Tirol Werbung</a></li>
                      <li><a class="white-text text-lighten-1" href="#!">Universität Innsbruck</a></li>
                      <li><a class="white-text text-lighten-1" href="#!">SpeedUUp</a></li>
                      <li><a class="white-text text-lighten-1" href="#!">EFRE</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="white footer-copyright">
                <div class="container black-text">
                © 2017 Copyright Tinderism AG
                <a class="black-text right" href="#!">Impressum</a>
                </div>
              </div>
    </footer>-->



    <script type="text/html" id="template-suggestions">
        <div class="row center-align">
          <h3>Empfehlungen</h3>
          <h5>Hotels, Aktivitäten, Kultur & Co.</h5>
        </div>
    </script>

    <script type="text/template" id="template-snippet">
      <div class="row">
              <div class="col s2"></div>
              <div class="col s12 m8">
                <div class="card">
                  <div class="card-image">
                    <img src="<%= url %>">
                    <a class="btn-floating hide-on-med-and-down btn-large halfway-fab waves-effect waves-light green"onclick="onApprove()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a class="btn-floating hide-on-med-and-down btn-large halfway-fab waves-effect waves-light red" onclick="onDeny()"style="margin-right:80px;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <span class="card-title"><%= title %></span>
    
                  </div>
                  <div class="card-content" style="padding-bottom:10px;padding-top:15px;">
                    <p>
                      <div class="chip"><%= tags[0] %></div>
                      <div class="chip"><%= tags[1] %></div>
                      <div class="chip"><%= tags[2] %></div>
                    </p>
                  </div>
                  <div class="card-action hide-on-large-only center-align">
    
                    <a class="btn-floating btn-large waves-effect waves-light red" onclick="onDeny()"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <span class="placeholder01"></span>
                    <a class="btn-floating btn-large waves-effect waves-light green" onclick="onApprove()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
    
                  </div>
                </div>
              </div>
      </div>
    </script>

    <script type="text/template" id="template-res-snippet">
        <div class="col s12 m6 l4 res_snippet">
          <div class="card">
            <div class="card-image">
              <img src="<%= image %>">
              <span class="card-title"><%= name %></span>
            </div>
            <div class="card-content">
              <p><%= description %></p>
            </div>
            <div class="card-action" >
               <% if( typeof(startDate) !== 'undefined' ) { %>
                   <div style="float: left"><%= startDate %></div>
               <% } %>
              <a href="#" style="float: right;">Info</a>
              <div style="clear:both"></div>
            </div>
          </div>
        </div>
    </script>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="assets\js\script.js"></script>
    <script src="assets\js\options.json"></script>
    <script type="text/javascript">
        var counter= 0
        ,   r = 0
        ,   result = {}
        ;
        createCards();

        function onDeny(evt) {
          saveImgTags( false )
          createCards();
        }

        function onApprove(evt) {
          saveImgTags( true )
          createCards();
        }

        function saveImgTags( isApprove ) {
          if( counter > 4)
            return;

          var card = steps[counter][r]
          ,   tags = card.attributes
          ;
          tags.forEach(function(v) {
              if (typeof result[v] === 'undefined') {
                  result[v] = isApprove;
              } else {
                delete result[v];
              }
          });
        }

        function createCards(){
          if(counter<=4){
              var tplText = document.getElementById('template-snippet').innerHTML;
              var compiled = _.template(tplText);
              r = parseInt(Math.random()*2);
              var test = compiled( steps[counter][r] );

              $('#readIn').html(test);
              counter++;

			  $( "div.card" ).on( "swiperight", onDeny  );
			  $( "div.card" ).on( "swipeleft", onApprove );
          } else {
              var url = location.hostname + ':' + location.port + '/generate';
              $.ajax('generate', { data: result
                          , success : loadSuggestions
              });
          }
        }

        function loadSuggestions( o ) 
        {
            var tmpl = document.getElementById( 'template-suggestions' )
            ,   cont = document.getElementById( 'readIn' )
            ,   object = JSON.parse( o )
            ,   emptyObject = {}
            ,   elem
            ,   tabTitles = { GROUP_EVENTS : 'Veranstaltungen' 
                            , GROUP_LODGINGS : 'Unterkunft'
                            , GROUP_EAT_AND_DRINK : 'Kulinarik' 
            }
            , snippetTemplate = document.getElementById( 'template-res-snippet' )
            ;
            cont.innerHTML = tmpl.innerHTML;
            var tabs = '<ul id="tabs-swipe-demo" class="tabs indigo-text">'
            ,   div = '<div id="test-swipe-number" class="col s12"><div class="row">'
            ,   res = ''
            ,   count = 0
            ;

            for( elem in tabTitles ) { if(typeof( emptyObject[elem]) === 'undefined' ) {
                if( object[elem] ) {
                    tabs += _.template( '<li class="tab col s3"><a href="#test-swipe-number"><%= name %></a></li>'.replace( 'number', ++count) )( { name : tabTitles[elem] });
                    res += div.replace( 'number', count );
                    for( var i in object[elem]) {
                        var tmpl = _.template( snippetTemplate.innerHTML )
                        ,   sni = tmpl( object[elem][i] )
                        ;
                        res += sni;
                    }
                    res += '</div></div>'
                }
            }}
            tabs += '</ul>';
            cont.innerHTML += tabs;
            cont.innerHTML += res;
            $('ul#tabs-swipe-demo').tabs();
        }
    </script>


  </body>



  <!-- JavaScript -->

</html>
